<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="uploads/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="uploads/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="uploads/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="uploads/favicon/favicon-16x16.png">
    <link rel="manifest" href="uploads/favicon/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Lập lá số tử vi - tracuutuvi.com</title>
    <meta name="title" content="Lập lá số tử vi - tracuutuvi.com">
    <meta name="description" content="Lập lá số tử vi, lập lá số tử vi chính xác nhất, tra cứu tử vi, tra cứu lá số tử vi, tracuutuvi.com">
    <meta property="og:title" content="Lập lá số tử vi - tracuutuvi.com">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://xem.tracuutuvi.com/uploads/images/thumb.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="uploads/css/font-awesome-all.css">

</head>

<body>
    <script src="uploads/js/jQuery3-1-1.min.js"></script>
    <script src="uploads/js/viewv1.min.js"></script>

    <div class="alert-box hide" id="alertBox"></div>
    <div class="alert-success-box" id="alertSuccessBox">Thành công</div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="uploads/js/clipboard.min.js"></script>
    <script src="uploads/js/footerv6.min.js"></script>
</body>

</html>
